@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


html {
    font-size: 100%;
}
body {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    background-color: #e0e8ff;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    padding-bottom: 50px;
    margin: 24px;
    background-color: #ffffff;
    max-width: 100%;
    width: 450px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: #3829e033 0px 7px 29px 0px;
}
.img-card {
    border-radius: 20px 20px 0 0;
    display: block;
    max-inline-size: 100%;
    block-size: auto;
}
.change-tab-card {
    margin: 0 10% 30px;
    padding: 26px;
    background-color: #f5f7ff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
}
.icon-music {
    padding-right: 20px;
    min-width: 48px;
    height: 48px;
}
.icon-text {
    display: flex;
    flex-wrap: wrap;
}
h1, h2 {
    padding: 0;
    margin: 0;
    color: #1f2f56;
}
h1 {
    margin-top: 44px;
    margin-bottom: 19px;
    font-size: 1.75rem;
    text-align: center;
    color: #1f2f56;
    font-weight: 900;
}
h2 {
    font-size: 1rem;
    font-weight: 700;
}
.text {
    margin: 0 48px 19px;
    text-align: center;
    color: #7280a7;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
}
p {
    padding: 0;
    margin: 5px 0 0;
    color: #7280a7;
    font-size: 1rem;
    font-weight: 400;
}
.btn-change {
    color: #3829e0;
    font-size: 0.875rem;
    font-weight: 700;
}
button {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 32px;
    display: block;
    border: none;
    border-radius: 10px;
    background-color: #3829e0;
    color: #ffffff;
    height: 52px;
    box-shadow: #3829e012 0px 1px 1px, #3829e012 0px 2px 2px, #3829e012 0px 4px 4px, #3829e012 0px 8px 8px, #3829e012 0px 16px 16px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
}
.btn-cancle {
    margin: auto;
    color: #7280a7;
    font-weight: 700;
    font-size: 0.875rem;
    text-decoration: none;
}
.btn-change:hover {
    color: #766CF1;
    cursor: pointer;
}
button:hover {
    background-color: #766CF1;
    cursor: pointer;
}
.btn-cancle:hover {
    color: #1f2f56;
    cursor: pointer;
}
@media screen and (max-width: 436px){
    h1 {
        font-size: 1.375rem;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .text {
        font-size: 0.938rem;
        margin-bottom: 7%;
    }
    h2, p {
        font-size: 0.875rem;
    }
    .btn-change {
        font-size: 0.75rem;
        margin-bottom: 5%;
    }
    .text, .change-tab-card, button {
        margin-left: 24px;
        margin-right: 24px;
    }
    .change-tab-card {
        padding: 5%;
        margin-bottom: 7.5%;
    }
    button {
        height: 50px;
        margin-bottom: 7%;
    }
    .card {
        padding-bottom: 9%;
    }
}
@media screen and (max-width: 330px) {
    .icon-text, .change-tab-card {
        flex-direction: column;
    }
    .icon-music {
        width: 48px;
        padding: 0 0 5px;
        align-self: center;
    }
    .btn-change {
        padding-top: 5px;
    }
}